<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <title>v-model语法糖</title>
</head>
<body>
    <div id="app">
        <ele />
    </div>

    <script>
        /*

        */
        //------------ 注册全局组件
        Vue.component('ele', {
            template: `
                <input type="text" :value='currentValue' @input='handleInput'>
            `,            
            data() {
                return {
                    currentValue: '123'
                }
            },
            methods: {
                handleInput(event) {
                    this.currentValue = event.target.value
                }  
            },
        })



        //------------ 根组件
        const vm = new Vue({
            el: '#app',
        })
    </script>
</body>
</html>