<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <title>VNode唯一性</title>
</head>
<body>
    <div id="app">
        <ele>
            <span>默认</span>
            <template #icon>
                <i>具名</i>
            </template>
        </ele>
    </div>

    <script>
        /*
            Vnode唯一性
            Vnode在组件树数中是唯一的
            经测试: 2.6版本后可以插槽连用
        */

        //------------ 注册全局组件
        Vue.component('ele', {
            template: `
                <div class='ele'>
                    <slot></slot><slot></slot>
                    <slot name='icon'></slot><slot name='icon'></slot>                 
                </div>
            `,
        })
        
        //------------ 根组件
        const vm = new Vue({
            el: '#app',
        })
    </script>
</body>
</html>